body {

}

nav {
  list-style-type: none;
  background-color: green;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 19px;
}

a{
  color: Pink;
  text-decoration: none;
}

li{
  display: inline;
  padding: 20px;
  
}

li:hover{
  background-color:lightgreen;  
}
